*{
    margin: 0;
    padding: 0;
}

.contenedor{
    position: absolute;
    left: 260px;
    top: -33px;
    z-index: 1; 
}

.contenedor2{
    position: absolute;
    left: 260px;
    top: 31px;
    overflow-y: auto;
    max-height: 95%;
    z-index: 1; 
}
.contenedor3{
    position: absolute;
    left: 260px;
    top: 23px;
    overflow-y: auto;
    max-height: 95%;
    z-index: 1; 
}
.libro_content{
    width: 900px;
    height: 300px;
    align-items: left;
    padding: 10px;
    border-bottom: 2px solid gray ;
    
}

.libro_content_insert{
    width: 900px;
    height: 634px;
    align-items: left;
    padding: 10px;
    border-bottom: 2px solid gray ;
    
}
.libro_content_prestamo{

    margin-top: 131px;
    margin-bottom: 15px;
    width: 900px;
    height: 84px;
    align-items: left;
    padding: 10px;
    border-bottom: 2px solid gray ;
    
}

.libro_content_prestamo_2{

    margin-top: 131px;
    margin-bottom: 15px;
    width: 900px;
    height: 190px;
    align-items: left;
    padding: 10px;
    border-bottom: 2px solid gray ;
    
}

.libro_content_prestamo h3{
    margin-bottom: 15px;
}
.libro_content_prestamo h4{
    display: inline-block;
}

.imagen_register{
    margin-right: 100%;
    margin-bottom: 10px;
}
#btn_registrar{
    width: 137px;
    margin-top: 19px;
    margin-left: 1px;
}

.libro_content .portada{
    border-radius: 5px;
}

.libro_content .prestar {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    top: -110px;
    left: 850px;
}


.libro_content .prestar img{
    margin-left: -353px;
    margin-top: -97px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.libro_content .titulo{
    position: relative;
    left: 230px;
    top: 10px;
    font-size: 30px ;
}

.libro_content .descripcion{
    position: relative;
    top: -160px;
    left: 230px;
    margin-right: 221px;
}



   